.home {
  background-color: #f9f7f8;
  // background-color: #efefef;
  width: 100%;
  min-height: calc(100vh - 80px);
  margin-top: 80px;

  .content {
    width: 100%;
  }
}

.content  {
  .box {
    // background-color: rebeccapurple;
    width: 75%;
    margin: auto ;
    color: #534d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 30px 0;


    h1 {
      // margin-top: 30px;
    }


    .input {
      border: 1px solid #837d7d;
      border-radius: 7px;
      width: 500px;
      height: 40px;
      margin-top: 20px;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 10px;

      input {
        width: 100%;
        border: 1px solid transparent;
        padding: 5px;
        font-size: 20px;
        height: 100%;
        color: #000;
        background-color: transparent;
      }
      input:focus {
        outline: none;
      }

      span {
        font-size: 20px;
        color: #837d7d;
        cursor: pointer;
      }
    }
  }
}


.box .container__blog {
  margin-top: 30px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px ;

  .blog {
    align-items: center;
    width: 100%;
    border-radius: 9px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    transition: .2s ease-in;
    cursor: pointer;


    .icon {
      color: #e1b95d;
      background-color: transparent;
      font-size: 35px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s ease-in;
    }
    p {
      color: #837d7d;
      margin-top: 5px;
      transition: .2s ease-in;
    }
  }

  .blog:hover {
    // background-color: #bea680;
    // background: rgb(218,189,125);
    // background: linear-gradient(164deg, rgba(218,189,125,1) 1%, rgba(208,182,123,1) 26%, rgba(245,208,153,1) 51%, rgba(163,144,104,1) 86%);
    
    background: rgb(246,208,126);
    background: radial-gradient(circle, rgba(246,208,126,0.9051995798319328) 1%, rgba(224,173,56,0.8799894957983193) 26%, rgba(214,148,49,0.896796218487395) 51%, rgba(167,128,45,0.9136029411764706) 86%);
    color: #ffffff;
  }

  .blog:hover.blog p {
    color: #ffffff;
  }

  .blog:hover.blog .icon {
    // background-color: #a78849;
    background: rgb(227,177,70);
    background: radial-gradient(circle, rgba(227,177,70,1) 1%, rgba(195,142,20,1) 26%, rgba(198,126,18,1) 51%, rgba(181,133,32,1) 86%);
    color: #ffffff;
  }
}

@media (max-width:860px) {
  .box .container__blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:690px) {
  .home {
    margin-top: 50px;
  }

  .content {
    .box {
      width: 95%;
      .input {
        width: 85%;
      }
    }
  }
}


// @media (max-width:590px) {
//   .box .container__blog {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }


@media (max-width:450px) {
  .box .container__blog {
    grid-template-columns: repeat(1, 1fr);
  }
}























/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #fff;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
/* @media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
} */ 

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}  */
